body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

#errorMessage {
    display: none;
    color: $warning-color;
}
.resultPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    * {
        margin: 10px auto;
    }
}
